body {
    background-color: rgba(10, 12, 28, 1);
    min-width: 100%;
    min-height: 100vh;
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 15px;
}

h2 {
    font-size: 28px;
    font-weight: 700;
    font-style: normal;
}

p {
mix-blend-mode: normal;
    opacity: 0.75;
}

.card {
    background-color:  rgba(27, 25, 55, 1);;
    width: 90%;
    height: 1000px;
    margin: 20px 15px 10px;
    border-radius: 10px;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; */
}

.mobile-img {
    height: 240px;
    width: 327px;
    background-image: #AB5CDB;
}

.purple-text {
    color: #AB5CDB;
}

.bold-text {
font-weight: bold;
font-size: 24px;
}

.lexend-text {
font-family: 'Lexend Deca', sans-serif;
font-weight: 400;
letter-spacing: 1px;
text-transform: uppercase;
padding-top:0%;
mix-blend-mode: normal;
opacity: 0.6;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}